USE [master]
GO
/****** Object:  Database [DoAnTotNghiep]    Script Date: 12/1/2024 9:46:38 AM ******/
CREATE DATABASE [DoAnTotNghiep]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DoAnTotNghiep', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DoAnTotNghiep.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DoAnTotNghiep_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DoAnTotNghiep_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DoAnTotNghiep].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DoAnTotNghiep]
GO
/****** Object:  Table [dbo].[BenVung]    Script Date: 12/1/2024 9:46:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BenVung](
	[MaBenVung] [varchar](10) NOT NULL,
	[MaSanPham] [varchar](10) NULL,
	[MoTa] [nvarchar](max) NULL,
	[DanhGiaAnhHuongMoiTruong] [decimal](5, 2) NULL,
	[DanhGiaAnToan] [decimal](5, 2) NULL,
	[MucDoAnhHuong] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBenVung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiPhi]    Script Date: 12/1/2024 9:46:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiPhi](
	[MaChiPhi] [varchar](10) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[SoTien] [decimal](18, 2) NULL,
	[ThoiGian] [datetime] NULL,
	[MaLoaiChiPhi] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiPhi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietThanhPhan]    Script Date: 12/1/2024 9:46:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietThanhPhan](
	[MaSanPham] [varchar](10) NOT NULL,
	[MaNguyenLieu] [varchar](10) NOT NULL,
	[PhanTramNguyenLieu] [decimal](5, 2) NULL,
 CONSTRAINT [PK_CTTP] PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC,
	[MaNguyenLieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhGiaSanPham]    Script Date: 12/1/2024 9:46:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGiaSanPham](
	[MaDanhGia] [varchar](10) NOT NULL,
	[MaSanPham] [varchar](10) NULL,
	[MoTa] [nvarchar](max) NULL,
	[XepHangTrungBinh] [decimal](5, 2) NULL,
	[TongDanhGia] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDanhGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DichVuKhachHang]    Script Date: 12/1/2024 9:46:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVuKhachHang](
	[MaDichVu] [varchar](10) NOT NULL,
	[MaSanPham] [varchar](10) NULL,
	[MoTa] [nvarchar](max) NULL,
	[DanhGiaHoTro] [decimal](5, 2) NULL,
	[ThoiGianBaoHanh] [int] NULL,
	[MucDoAnhHuong] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoanhThu]    Script Date: 12/1/2024 9:46:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoanhThu](
	[MaDoanhThu] [varchar](10) NOT NULL,
	[MaLoaiDoanhThu] [varchar](10) NULL,
	[MoTa] [nvarchar](max) NULL,
	[SoTien] [decimal](18, 2) NULL,
	[ThoiGian] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDoanhThu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoBen]    Script Date: 12/1/2024 9:46:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoBen](
	[MaDoBen] [varchar](10) NOT NULL,
	[MaSanPham] [varchar](10) NULL,
	[TuoiThoNgay] [decimal](18, 2) NULL,
	[MoTa] [nvarchar](max) NULL,
	[DanhGiaDoBen] [decimal](5, 2) NULL,
	[MucDoAnhHuong] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDoBen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaCa]    Script Date: 12/1/2024 9:46:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaCa](
	[MaGiaCa] [varchar](10) NOT NULL,
	[MaSanPham] [varchar](10) NULL,
	[MoTa] [nvarchar](max) NULL,
	[DanhGiaGiaTri] [decimal](5, 2) NULL,
	[ChiPhiBaoTri] [decimal](18, 2) NULL,
	[MucDoAnhHuong] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGiaCa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HieuSuat]    Script Date: 12/1/2024 9:46:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HieuSuat](
	[MaHieuSuat] [varchar](10) NOT NULL,
	[MaSanPham] [varchar](10) NULL,
	[MoTa] [nvarchar](max) NULL,
	[DanhGiaChucNang] [decimal](5, 2) NULL,
	[DanhGiaTocDo] [decimal](5, 2) NULL,
	[MucDoAnhHuong] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHieuSuat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiChiPhi]    Script Date: 12/1/2024 9:46:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiChiPhi](
	[MaLoaiChiPhi] [varchar](10) NOT NULL,
	[TenLoaiChiPhi] [nvarchar](255) NULL,
	[MoTa] [nvarchar](max) NULL,
	[TongTien] [decimal](18, 2) NULL,
	[MaSanPham] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiChiPhi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiDoanhThu]    Script Date: 12/1/2024 9:46:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiDoanhThu](
	[MaLoaiDoanhThu] [varchar](10) NOT NULL,
	[TenLoaiDoanhThu] [nvarchar](255) NULL,
	[MoTa] [nvarchar](max) NULL,
	[TongTien] [decimal](18, 2) NULL,
	[MaSanPham] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiDoanhThu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoiNhuan]    Script Date: 12/1/2024 9:46:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoiNhuan](
	[MaLoiNhuan] [varchar](10) NOT NULL,
	[MaSanPham] [varchar](10) NULL,
	[MoTa] [nvarchar](max) NULL,
	[LoiNhuanGop] [decimal](18, 2) NULL,
	[LoiNhuanRong] [decimal](18, 2) NULL,
	[ThoiGian] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoiNhuan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguyenLieu]    Script Date: 12/1/2024 9:46:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguyenLieu](
	[MaNguyenLieu] [varchar](10) NOT NULL,
	[TenNguyenLieu] [nvarchar](255) NULL,
	[MoTa] [nvarchar](max) NULL,
	[DanhGiaChatLuong] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNguyenLieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 12/1/2024 9:46:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNhanVien] [nvarchar](50) NOT NULL,
	[TenNhanVien] [nvarchar](255) NOT NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](3) NOT NULL,
	[SoDienThoai] [nvarchar](15) NULL,
	[Email] [nvarchar](255) NULL,
	[ChucVu] [nvarchar](255) NULL,
	[TaiKhoan] [nvarchar](255) NULL,
	[MatKhau] [nvarchar](255) NULL,
	[HinhAnh] [nvarchar](255) NULL,
	[TrangThaiHoatDong] [bit] NULL,
	[NgayTao] [date] NULL,
	[NgayCapNhat] [date] NULL,
	[DiaChi] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien_VaiTro]    Script Date: 12/1/2024 9:46:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien_VaiTro](
	[MaNhanVien] [nvarchar](50) NOT NULL,
	[MaVaiTro] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC,
	[MaVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanHoiNguoiDung]    Script Date: 12/1/2024 9:46:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanHoiNguoiDung](
	[MaPhanHoi] [varchar](10) NOT NULL,
	[MaSanPham] [varchar](10) NULL,
	[XepHangNguoiDung] [int] NULL,
	[BinhLuan] [nvarchar](max) NULL,
	[NgayPhanHoi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhanHoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanTichDoiSoat]    Script Date: 12/1/2024 9:46:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanTichDoiSoat](
	[MaPhanTich] [varchar](10) NOT NULL,
	[LoaiPhanTich] [nvarchar](255) NULL,
	[MoTa] [nvarchar](max) NULL,
	[GiaTri] [decimal](18, 2) NULL,
	[ThoiGian] [datetime] NULL,
	[MaSanPham] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhanTich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quyen]    Script Date: 12/1/2024 9:46:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quyen](
	[MaQuyen] [nvarchar](50) NOT NULL,
	[TenQuyen] [nvarchar](50) NOT NULL,
	[MoTa] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 12/1/2024 9:46:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSanPham] [varchar](10) NOT NULL,
	[TenSanPham] [nvarchar](255) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[Gia] [decimal](18, 0) NULL,
	[DanhMuc] [nvarchar](100) NULL,
	[SoLuongTon] [int] NULL,
	[NgayPhatHanh] [datetime] NULL,
	[MucDoAnhHuongTongNguyenLieu] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThietKe]    Script Date: 12/1/2024 9:46:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThietKe](
	[MaThietKe] [varchar](10) NOT NULL,
	[MaSanPham] [varchar](10) NULL,
	[MoTa] [nvarchar](max) NULL,
	[DanhGiaThamMy] [decimal](5, 2) NULL,
	[DanhGiaTienDung] [decimal](5, 2) NULL,
	[MucDoAnhHuong] [decimal](5, 2) NULL,
	[HinhAnh] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThietKe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThiTruong]    Script Date: 12/1/2024 9:46:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThiTruong](
	[MaThiTruong] [varchar](10) NOT NULL,
	[LoaiThiTruong] [nvarchar](255) NULL,
	[MoTa] [nvarchar](max) NULL,
	[GiaTri] [decimal](18, 2) NULL,
	[ThoiGian] [datetime] NULL,
	[MaSanPham] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThiTruong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinhNangBoSung]    Script Date: 12/1/2024 9:46:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinhNangBoSung](
	[MaTinhNang] [varchar](10) NOT NULL,
	[MaSanPham] [varchar](10) NULL,
	[MoTa] [nvarchar](max) NULL,
	[DanhGiaCongNghe] [decimal](5, 2) NULL,
	[DanhGiaLinhHoat] [decimal](5, 2) NULL,
	[MucDoAnhHuong] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTinhNang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaiTro]    Script Date: 12/1/2024 9:46:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaiTro](
	[MaVaiTro] [nvarchar](50) NOT NULL,
	[TenVaiTro] [nvarchar](50) NOT NULL,
	[MoTa] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaiTro_Quyen]    Script Date: 12/1/2024 9:46:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaiTro_Quyen](
	[MaVaiTro] [nvarchar](50) NOT NULL,
	[MaQuyen] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaVaiTro] ASC,
	[MaQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiPhi] ([MaChiPhi], [MoTa], [SoTien], [ThoiGian], [MaLoaiChiPhi]) VALUES (N'CPBD15', N'Nguyên liệu đầu vào', CAST(1200000000.00 AS Decimal(18, 2)), CAST(N'2024-07-01T00:00:00.000' AS DateTime), N'CPBD')
INSERT [dbo].[ChiPhi] ([MaChiPhi], [MoTa], [SoTien], [ThoiGian], [MaLoaiChiPhi]) VALUES (N'CPBD15SP2', N'Nguyên liệu đầu vào', CAST(1500000000.00 AS Decimal(18, 2)), CAST(N'2024-07-01T00:00:00.000' AS DateTime), N'CPBDSP002')
INSERT [dbo].[ChiPhi] ([MaChiPhi], [MoTa], [SoTien], [ThoiGian], [MaLoaiChiPhi]) VALUES (N'CPBD16', N'Chi phí vận chuyển', CAST(350000000.00 AS Decimal(18, 2)), CAST(N'2024-07-01T00:00:00.000' AS DateTime), N'CPBD')
GO
INSERT [dbo].[ChiTietThanhPhan] ([MaSanPham], [MaNguyenLieu], [PhanTramNguyenLieu]) VALUES (N'SP001', N'NL001', CAST(79.60 AS Decimal(5, 2)))
INSERT [dbo].[ChiTietThanhPhan] ([MaSanPham], [MaNguyenLieu], [PhanTramNguyenLieu]) VALUES (N'SP001', N'NL002', CAST(10.20 AS Decimal(5, 2)))
INSERT [dbo].[ChiTietThanhPhan] ([MaSanPham], [MaNguyenLieu], [PhanTramNguyenLieu]) VALUES (N'SP001', N'NL003', CAST(7.60 AS Decimal(5, 2)))
GO
INSERT [dbo].[DanhGiaSanPham] ([MaDanhGia], [MaSanPham], [MoTa], [XepHangTrungBinh], [TongDanhGia]) VALUES (N'DG001', N'SP001', NULL, CAST(4.80 AS Decimal(5, 2)), 1000)
GO
INSERT [dbo].[DoanhThu] ([MaDoanhThu], [MaLoaiDoanhThu], [MoTa], [SoTien], [ThoiGian]) VALUES (N'DT006', N'DT1', N'Doanh thu bán trực tiếp tháng 6', CAST(1800000000.00 AS Decimal(18, 2)), CAST(N'2024-06-30T00:00:00.000' AS DateTime))
INSERT [dbo].[DoanhThu] ([MaDoanhThu], [MaLoaiDoanhThu], [MoTa], [SoTien], [ThoiGian]) VALUES (N'DT006SP002', N'DT1SP002', N'Doanh thu bán trực tiếp tháng 6', CAST(1800000000.00 AS Decimal(18, 2)), CAST(N'2024-06-30T00:00:00.000' AS DateTime))
INSERT [dbo].[DoanhThu] ([MaDoanhThu], [MaLoaiDoanhThu], [MoTa], [SoTien], [ThoiGian]) VALUES (N'DT007', N'DT1', N'Doanh thu bán trực tiếp tháng 7', CAST(2000000000.00 AS Decimal(18, 2)), CAST(N'2024-07-30T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[LoaiChiPhi] ([MaLoaiChiPhi], [TenLoaiChiPhi], [MoTa], [TongTien], [MaSanPham]) VALUES (N'CPBD', N'Chi phí biến đổi', N'Chi phí thay đổi tùy theo khối lượng sản xuất, doanh thu hoặc hoạt động.', CAST(15570000000.00 AS Decimal(18, 2)), N'SP001')
INSERT [dbo].[LoaiChiPhi] ([MaLoaiChiPhi], [TenLoaiChiPhi], [MoTa], [TongTien], [MaSanPham]) VALUES (N'CPBDSP002', N'Chi phí biến đổi', N'Chi phí thay đổi tùy theo khối lượng sản xuất, doanh thu hoặc hoạt động.', CAST(15570000000.00 AS Decimal(18, 2)), N'SP002')
INSERT [dbo].[LoaiChiPhi] ([MaLoaiChiPhi], [TenLoaiChiPhi], [MoTa], [TongTien], [MaSanPham]) VALUES (N'CPCD', N'Chi phí cố định', N'Chi phí không thay đổi theo sản lượng hay doanh thu.', CAST(7000000000.00 AS Decimal(18, 2)), N'SP001')
GO
INSERT [dbo].[LoaiDoanhThu] ([MaLoaiDoanhThu], [TenLoaiDoanhThu], [MoTa], [TongTien], [MaSanPham]) VALUES (N'DT1', N'Doanh thu bán trực tiếp', N'Doanh thu từ việc bán hàng trực tiếp tại cửa hàng', CAST(1800000000.00 AS Decimal(18, 2)), N'SP001')
INSERT [dbo].[LoaiDoanhThu] ([MaLoaiDoanhThu], [TenLoaiDoanhThu], [MoTa], [TongTien], [MaSanPham]) VALUES (N'DT1SP002', N'Doanh thu bán trực tiếp', N'Doanh thu từ việc bán hàng trực tiếp tại cửa hàng', CAST(1800000000.00 AS Decimal(18, 2)), N'SP002')
INSERT [dbo].[LoaiDoanhThu] ([MaLoaiDoanhThu], [TenLoaiDoanhThu], [MoTa], [TongTien], [MaSanPham]) VALUES (N'DT2', N'Doanh thu bán trực tuyến', N'Doanh thu từ việc bán hàng qua các kênh trực tuyến', CAST(1200000000.00 AS Decimal(18, 2)), N'SP001')
GO
INSERT [dbo].[LoiNhuan] ([MaLoiNhuan], [MaSanPham], [MoTa], [LoiNhuanGop], [LoiNhuanRong], [ThoiGian]) VALUES (N'LN1', N'SP001', N'', CAST(1970000000.00 AS Decimal(18, 2)), CAST(345000000.00 AS Decimal(18, 2)), CAST(N'2024-06-30T00:00:00.000' AS DateTime))
INSERT [dbo].[LoiNhuan] ([MaLoiNhuan], [MaSanPham], [MoTa], [LoiNhuanGop], [LoiNhuanRong], [ThoiGian]) VALUES (N'LN1SP002', N'SP002', NULL, CAST(1178000000.00 AS Decimal(18, 2)), CAST(752000000.00 AS Decimal(18, 2)), CAST(N'2024-06-30T00:00:00.000' AS DateTime))
INSERT [dbo].[LoiNhuan] ([MaLoiNhuan], [MaSanPham], [MoTa], [LoiNhuanGop], [LoiNhuanRong], [ThoiGian]) VALUES (N'LN2', N'SP001', N'', CAST(2570000000.00 AS Decimal(18, 2)), CAST(945000000.00 AS Decimal(18, 2)), CAST(N'2024-07-30T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[NguyenLieu] ([MaNguyenLieu], [TenNguyenLieu], [MoTa], [DanhGiaChatLuong]) VALUES (N'NL001', N'Nước', N'Thành phần chính giúp hòa tan và làm loãng nước ép, mang lại hương vị tươi mát.', CAST(10.00 AS Decimal(5, 2)))
INSERT [dbo].[NguyenLieu] ([MaNguyenLieu], [TenNguyenLieu], [MoTa], [DanhGiaChatLuong]) VALUES (N'NL002', N'Nước ép táo cô đặc', N'Cung cấp hương vị ngọt tự nhiên và nhiều vitamin, đặc biệt là vitamin C và chất xơ.', CAST(9.00 AS Decimal(5, 2)))
INSERT [dbo].[NguyenLieu] ([MaNguyenLieu], [TenNguyenLieu], [MoTa], [DanhGiaChatLuong]) VALUES (N'NL003', N'Nước ép lựu cô đặc', N'Lựu mang lại vitamin C, chất chống oxy hóa và hỗ trợ sức khỏe tim mạch.', CAST(10.00 AS Decimal(5, 2)))
GO
INSERT [dbo].[NhanVien] ([MaNhanVien], [TenNhanVien], [NgaySinh], [GioiTinh], [SoDienThoai], [Email], [ChucVu], [TaiKhoan], [MatKhau], [HinhAnh], [TrangThaiHoatDong], [NgayTao], [NgayCapNhat], [DiaChi]) VALUES (N'NV001', N'Phạm Quang Duy', CAST(N'1990-02-10' AS Date), N'Nam', N'0123456789', N'phamduy@example.com', N'Quản lý kho', N'admin', N'admin', N'NV001.png', 1, CAST(N'2023-05-10' AS Date), CAST(N'2024-11-17' AS Date), N'123 Đường Nguyễn Trãi, Hà Nội')
INSERT [dbo].[NhanVien] ([MaNhanVien], [TenNhanVien], [NgaySinh], [GioiTinh], [SoDienThoai], [Email], [ChucVu], [TaiKhoan], [MatKhau], [HinhAnh], [TrangThaiHoatDong], [NgayTao], [NgayCapNhat], [DiaChi]) VALUES (N'NV002', N'Hoàng Thị Mai', CAST(N'1993-08-25' AS Date), N'Nữ', N'0987654321', N'hoangmai@example.com', N'Nhân viên bán hàng', N'admin1', N'admin1', N'NV002.png', 1, CAST(N'2023-05-22' AS Date), CAST(N'2024-11-17' AS Date), N'456 Đường Lý Thường Kiệt, TP HCM')
INSERT [dbo].[NhanVien] ([MaNhanVien], [TenNhanVien], [NgaySinh], [GioiTinh], [SoDienThoai], [Email], [ChucVu], [TaiKhoan], [MatKhau], [HinhAnh], [TrangThaiHoatDong], [NgayTao], [NgayCapNhat], [DiaChi]) VALUES (N'NV003', N'Trần Quốc Duy', CAST(N'1987-11-05' AS Date), N'Nam', N'0912345678', N'tranquocduy@example.com', N'Nhân viên thu ngân', N'admin123', N'admin123', N'NV003.png', 1, CAST(N'2023-05-22' AS Date), CAST(N'2024-11-17' AS Date), N'789 Đường Hoàng Diệu, Đà Nẵng')
GO
INSERT [dbo].[NhanVien_VaiTro] ([MaNhanVien], [MaVaiTro]) VALUES (N'NV001', N'VT001')
INSERT [dbo].[NhanVien_VaiTro] ([MaNhanVien], [MaVaiTro]) VALUES (N'NV001', N'VT002')
INSERT [dbo].[NhanVien_VaiTro] ([MaNhanVien], [MaVaiTro]) VALUES (N'NV001', N'VT003')
GO
INSERT [dbo].[PhanHoiNguoiDung] ([MaPhanHoi], [MaSanPham], [XepHangNguoiDung], [BinhLuan], [NgayPhanHoi]) VALUES (N'PH001', N'SP001', 5, N'Sản phẩm tốt, độ tươi rất cao, giá lại hợp lý.', CAST(N'2024-07-29T00:00:00.000' AS DateTime))
INSERT [dbo].[PhanHoiNguoiDung] ([MaPhanHoi], [MaSanPham], [XepHangNguoiDung], [BinhLuan], [NgayPhanHoi]) VALUES (N'PH002', N'SP001', 3, N'Sản phẩm bình thường, không có gì nổi bật.', CAST(N'2024-07-26T00:00:00.000' AS DateTime))
INSERT [dbo].[PhanHoiNguoiDung] ([MaPhanHoi], [MaSanPham], [XepHangNguoiDung], [BinhLuan], [NgayPhanHoi]) VALUES (N'PH003', N'SP001', 2, N'Chất lượng kém, không đáng tiền.', CAST(N'2024-08-26T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[PhanTichDoiSoat] ([MaPhanTich], [LoaiPhanTich], [MoTa], [GiaTri], [ThoiGian], [MaSanPham]) VALUES (N'PTDS1', N'Lợi nhuận', N'Phân tích lợi nhuận từ các kênh bán hàng khác nhau.', CAST(11540000000.00 AS Decimal(18, 2)), CAST(N'2024-06-01T00:00:00.000' AS DateTime), N'SP001')
INSERT [dbo].[PhanTichDoiSoat] ([MaPhanTich], [LoaiPhanTich], [MoTa], [GiaTri], [ThoiGian], [MaSanPham]) VALUES (N'PTDS2', N'Tỷ lệ lợi nhuận', N'Tỷ lệ lợi nhuận trên tổng doanh thu.', CAST(32.00 AS Decimal(18, 2)), CAST(N'2024-06-01T00:00:00.000' AS DateTime), N'SP001')
INSERT [dbo].[PhanTichDoiSoat] ([MaPhanTich], [LoaiPhanTich], [MoTa], [GiaTri], [ThoiGian], [MaSanPham]) VALUES (N'PTDS3', N'Phân tích xu hướng', N'Phân tích xu hướng doanh thu và chi phí trong các tháng.', CAST(0.00 AS Decimal(18, 2)), CAST(N'2024-06-01T00:00:00.000' AS DateTime), N'SP001')
GO
INSERT [dbo].[Quyen] ([MaQuyen], [TenQuyen], [MoTa]) VALUES (N'Q001', N'Lập thống kê chi phí', N'Xem màn hình lập thống kê chi phí')
INSERT [dbo].[Quyen] ([MaQuyen], [TenQuyen], [MoTa]) VALUES (N'Q002', N'Lập thống kê doanh thu', N'Xem màn hình thông kê doanh thu')
INSERT [dbo].[Quyen] ([MaQuyen], [TenQuyen], [MoTa]) VALUES (N'Q003', N'Lập thống kê lợi nhuận', N'Quyền truy cập vào màn hình lập thống kê lợi nhuận')
GO
INSERT [dbo].[SanPham] ([MaSanPham], [TenSanPham], [MoTa], [Gia], [DanhMuc], [SoLuongTon], [NgayPhatHanh], [MucDoAnhHuongTongNguyenLieu]) VALUES (N'SP001', N'Nước Ép Lựu Táo Giòn', N'Lựu táo giòn được thu hoạch từ các vùng đất uy tín,
mang đến hương vị đặc trưng của lựu và táo. Không bổ sung đường, không chất bảo quản,
không phẩm màu nhân tạo, và 100% không biến đổi gen.', CAST(60000 AS Decimal(18, 0)), N'Nước Ép', 3000, CAST(N'2024-05-22T00:00:00.000' AS DateTime), CAST(9.50 AS Decimal(5, 2)))
INSERT [dbo].[SanPham] ([MaSanPham], [TenSanPham], [MoTa], [Gia], [DanhMuc], [SoLuongTon], [NgayPhatHanh], [MucDoAnhHuongTongNguyenLieu]) VALUES (N'SP002', N'Nước Ép Cam -Vinamilk', N'Nước cam ép (99,9%) (nước, nước cam ép cô đặc (20,4%)), hương cam giống tự nhiên dùng cho thực phẩm.', CAST(50000 AS Decimal(18, 0)), N'Nước Ép', 1000, CAST(N'2024-06-23T00:00:00.000' AS DateTime), CAST(9.00 AS Decimal(5, 2)))
GO
INSERT [dbo].[ThiTruong] ([MaThiTruong], [LoaiThiTruong], [MoTa], [GiaTri], [ThoiGian], [MaSanPham]) VALUES (N'TT1', N'Thị phần sản phẩm', N'Thị phần của sản phẩm Nước ép Lựu Táo trong thị trường nước ép trái cây tự nhiên tại Việt Nam.', CAST(7.60 AS Decimal(18, 2)), CAST(N'2024-06-01T00:00:00.000' AS DateTime), N'SP001')
INSERT [dbo].[ThiTruong] ([MaThiTruong], [LoaiThiTruong], [MoTa], [GiaTri], [ThoiGian], [MaSanPham]) VALUES (N'TT2', N'Thị phần sản phẩm', N'Thị phần của sản phẩm Nước ép cam trong thị trường nước ép trái cây tự nhiên tại Việt Nam.', CAST(10.30 AS Decimal(18, 2)), CAST(N'2024-06-01T00:00:00.000' AS DateTime), N'SP002')
GO
INSERT [dbo].[VaiTro] ([MaVaiTro], [TenVaiTro], [MoTa]) VALUES (N'VT001', N'Quản trị viên', N'Quyền truy cập đầy đủ trong hệ thống')
INSERT [dbo].[VaiTro] ([MaVaiTro], [TenVaiTro], [MoTa]) VALUES (N'VT002', N'Nhân viên kinh doanh', N'Chỉ có quyền truy cập vào các chức năng bán hàng')
INSERT [dbo].[VaiTro] ([MaVaiTro], [TenVaiTro], [MoTa]) VALUES (N'VT003', N'Nhân viên kê toán', N'Chỉ có quyền truy cập vào các chức năng của kế toán')
GO
INSERT [dbo].[VaiTro_Quyen] ([MaVaiTro], [MaQuyen]) VALUES (N'VT001', N'Q001')
INSERT [dbo].[VaiTro_Quyen] ([MaVaiTro], [MaQuyen]) VALUES (N'VT001', N'Q002')
INSERT [dbo].[VaiTro_Quyen] ([MaVaiTro], [MaQuyen]) VALUES (N'VT001', N'Q003')
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT ((1)) FOR [TrangThaiHoatDong]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[ThietKe] ADD  DEFAULT (N'') FOR [HinhAnh]
GO
ALTER TABLE [dbo].[BenVung]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[ChiPhi]  WITH CHECK ADD FOREIGN KEY([MaLoaiChiPhi])
REFERENCES [dbo].[LoaiChiPhi] ([MaLoaiChiPhi])
GO
ALTER TABLE [dbo].[ChiTietThanhPhan]  WITH CHECK ADD  CONSTRAINT [FK_CTTP_NL] FOREIGN KEY([MaNguyenLieu])
REFERENCES [dbo].[NguyenLieu] ([MaNguyenLieu])
GO
ALTER TABLE [dbo].[ChiTietThanhPhan] CHECK CONSTRAINT [FK_CTTP_NL]
GO
ALTER TABLE [dbo].[ChiTietThanhPhan]  WITH CHECK ADD  CONSTRAINT [FK_CTTP_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[ChiTietThanhPhan] CHECK CONSTRAINT [FK_CTTP_SanPham]
GO
ALTER TABLE [dbo].[DanhGiaSanPham]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[DichVuKhachHang]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[DoanhThu]  WITH CHECK ADD FOREIGN KEY([MaLoaiDoanhThu])
REFERENCES [dbo].[LoaiDoanhThu] ([MaLoaiDoanhThu])
GO
ALTER TABLE [dbo].[DoBen]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[GiaCa]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[HieuSuat]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[LoaiChiPhi]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[LoaiDoanhThu]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[LoiNhuan]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[NhanVien_VaiTro]  WITH CHECK ADD FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NhanVien_VaiTro]  WITH CHECK ADD FOREIGN KEY([MaVaiTro])
REFERENCES [dbo].[VaiTro] ([MaVaiTro])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhanHoiNguoiDung]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[PhanTichDoiSoat]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[ThietKe]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[ThiTruong]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[TinhNangBoSung]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[VaiTro_Quyen]  WITH CHECK ADD FOREIGN KEY([MaQuyen])
REFERENCES [dbo].[Quyen] ([MaQuyen])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VaiTro_Quyen]  WITH CHECK ADD FOREIGN KEY([MaVaiTro])
REFERENCES [dbo].[VaiTro] ([MaVaiTro])
ON DELETE CASCADE
GO
USE [master]
GO
